---
Checks: 'clang-analyzer-*,cppcoreguidelines-*,modernize-*,bugprone-*,performance-*,readability-*,readability-non-const-parameter,misc-const-correctness,misc-use-anonymous-namespace,google-explicit-constructor,-modernize-use-trailing-return-type,-bugprone-exception-escape,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-avoid-magic-numbers,-bugprone-easily-swappable-parameters,-cppcoreguidelines-non-private-member-variables-in-classes'
WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  - key:             readability-magic-numbers.IgnoredFloatingPointValues
    value:           '0.0;1.0;100.0;'
  - key:             readability-magic-numbers.IgnoredIntegerValues
    value:           '0;1;2;3;4;5;6;7;8;9;'
Checks: '-*,readability-identifier-length'
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '3'
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^_.*$'  # Exemple : ignore les noms commençant par _
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '3'
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^[n]$'
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: '2'
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: '^[ijk_]$'
  - key: readability-identifier-length.MinimumExceptionNameLength
    value: '2'
  - key: readability-identifier-length.IgnoredExceptionVariableNames
    value: '^[e]$'
